language: java
install:
  - wget "http://jflex.de/release/jflex-1.6.1.tar.gz"
  - sudo tar -C /usr/share -xvzf jflex-1.6.1.tar.gz
  - sudo ln -s /usr/share/jflex-1.6.1/bin/jflex /usr/bin/jflex

script:
  - cd Practicas
  - cd Practica_2
  - mvn compile
  - mvn exec:java -Dexec.mainClass="testmaven.Test"
